<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body style="background-color: rgb(34, 34, 34);">
    
    <div class="container">
       
        <div class="row" style="padding-top: 50px; background-color: white;">
            <div class="col-10">
                <h1>The First Heading <span style="color: gray;">Catch Your Eyes</span> </h1>
                <p>
                    Doc Dad;jj , klsjdljdf dsfh, dk;as dlsdhfhdsa;kj jdhdjlshfhds f;kdhajs jd;ashf
                    gfadg;adgadf fadfad faf rearasr dasdsaf
                    sdafsdafaf fasfadfsdaf fsaf.fsafsf.fsafsag fsfsafs
                    fsafsgadgad fsdgdfgdha fsdgad fghajgkgljtrhfd gdhjddbdhsjsf fjdfn. fsdgjjsd
                </p>
            </div>
            <div class="col-2" style="padding-right: 20px;">
                <img src="https://64.media.tumblr.com/703a7c715acb5ef08832ab38a429c142/tumblr_nooh5hn13d1uo5k3ko1_640.jpg"
                    width="200px" height="200px" style="border-radius: 100%;">
            </div>

        </div>
    </div>
            


      




        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
</body>

</html>